<nav class="navbar navbar-inverse">
    <div class="inverse-header-message">
      <p> Want to learn more about this project? <a href="#" class="navbar-inverse-link">Click Here</a>
    </div>
    </p>
  </nav>

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
           <span class="thin-logo-text">Complete</span>
           <span class="bold-logo-text">Vertigo</span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li class ="navbar-right">
            <div class="search-btn"> 
              <a href="#">
                <%= image_tag "search.png", size: "50x50" %>
              </a>
            </div>
          </li>
          <li class="navbar-right subscribe-btn"><a href="#">Subscribe</a></li>
          <li class="navbar-right"><a href="#">About</a></li>
          <li class="navbar-right"><a href="#">Articles</a></li>
          <li class="navbar-right"><a href="#">News</a></li>
          <li class="navbar-right"><a href="#">Reviews</a></li>
        </ul>
      </div>
    </div>
  </nav>
